<%- layout('layouts/main')%>
<form action="/signup" method="POST">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">
    SignUp
  </button>
</form>

